@font-face {
  font-family: 'RobotoMono';
  src: ('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;

  color:#fff;
  background: linear-gradient(to right, rgb(6, 150, 230), rgb(40, 5, 95));

}